
<%= link_to 'Crea nuevo stock', new_product_instance_path, class: "btn btn-info mt-4" %>

<div class="pt-3 table-responsive">

<table class="table margin-table-admin table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Sku</th>
      <th scope="col">Product</th>
      <th scope="col">Size</th>
      <th scope="col">Price</th>
      <th scope="col">Sold</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_instances.each do |product_instance| %>
      <tr>
        <td><%= product_instance.product.sku %></td>
        <td><%= product_instance.product.name %></td>
        <td><%= product_instance.size %></td>
        <td><%= product_instance.price %></td>
        <td><%= product_instance.sold %></td>
        <td><%= link_to 'Edit', edit_product_instance_path(product_instance) %></td>
        <td><%= link_to 'Destroy', product_instance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>


