<p id="notice"><%= notice %></p>

<p>
  <strong>Number order:</strong>
  <%= @order.number_order %>
</p>

<p>
  <strong>Total:</strong>
  <%= @order.total %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>

<p>
  <strong>Product instance:</strong>
  <%= @order.product_instance %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
