<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerceproject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <!-- Google font -->
  <link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;900&display=swap" rel="stylesheet">  

    <!-- Font Awesome -->
   <script src="https://kit.fontawesome.com/b8100589e8.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    
  </head>

  <body>

    <%= render 'shared/navbar' %>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>

  </body>
</html>
